{% set activeMenu = (activeMenu|default('Accueil')) %}

<!DOCTYPE html>
<html lang="fr">
<head>
	<title>AfkWatch - Streaming</title>
	<!-- for-mobile-apps -->
	<meta http-equiv="content-language" content="fr">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width, initial-scale=1.0">
	<meta name="robots" content="index,follow" />
	<meta name="keywords" content="{{ keywords }}">
	<meta name="Googlebot" content="noarchive" />	
    <meta name="description" content="{{ description }}"> 
    <meta name="country" content="France" />
    <meta name="author" content="Guillaume Bonhommeau">
 	<meta name="publisher" content="Guillaume Bonhommeau">
	<meta name="format-detection" content="telephone=no"/>

	{% block facebookMeta %}
		<meta property="og:site_name" content="AfkWatch"/>
		<meta property="og:type" content="blog"/>
		<meta property="og:title" content="{{ ogTitle }}"/>
		<meta property="og:description" content="{{ ogDescription }}">
	{% endblock %}

	<script type="application/x-javascript"> 
		addEventListener("load", function() { 
			setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); 
		} 
	</script>

	{% block head_stylesheets %}
		<!-- //for-mobile-apps -->
		<link rel="stylesheet" href="{{ asset('streaming/css/bootstrap.css') }}" type="text/css" media="all" />
		<link rel="stylesheet" href="{{ asset('streaming/css/style.css') }}" type="text/css" media="all" />
		<link rel="stylesheet" href="{{ asset('streaming/css/contactstyle.css') }}" type="text/css" media="all" />
		<link rel="stylesheet" href="{{ asset('streaming/css/faqstyle.css') }}" type="text/css" media="all" />
		<link rel="stylesheet" href="{{ asset('streaming/css/single.css') }}" type='text/css' />
		<link rel="stylesheet" href="{{ asset('streaming/css/medile.css') }}" type='text/css' />

		<!-- banner-slider -->
		<link rel="stylesheet" href="{{ asset('streaming/css/jquery.slidey.min.css') }}" type="text/css">
		<!-- //banner-slider -->
		
		<!-- pop-up -->
		<link rel="stylesheet" href="{{ asset('streaming/css/popuo-box.css') }}" type="text/css" media="all" />
		<!-- //pop-up -->
		
		<!-- font-awesome icons -->
		<link rel="stylesheet" href="{{ asset('streaming/css/font-awesome.min.css') }}" type="text/css"/>
		<!-- //font-awesome icons -->
		
		<!-- js -->
		<script type="text/javascript" src="{{ asset('streaming/js/jquery-2.1.4.min.js') }}"></script>
		<!-- //js -->
		
		<!-- banner-bottom-plugin -->
		<link rel="stylesheet" href="{{ asset('streaming/css/owl.carousel.css') }}" type="text/css" media="all">
		
		<!-- //banner-bottom-plugin -->
		<link rel="stylesheet" href='//fonts.googleapis.com/css?family=Roboto+Condensed:400,700italic,700,400italic,300italic,300' type='text/css'>

		<!-- Favicon -->
		<link rel="apple-touch-icon" sizes="57x57" href="{{ asset('img/favicon/apple-icon-57x57.png') }}">
		<link rel="apple-touch-icon" sizes="60x60" href="{{ asset('img/favicon/apple-icon-60x60.png') }}">
		<link rel="apple-touch-icon" sizes="72x72" href="{{ asset('img/favicon/apple-icon-72x72.png') }}">
		<link rel="apple-touch-icon" sizes="76x76" href="{{ asset('img/favicon/apple-icon-76x76.png') }}">
		<link rel="apple-touch-icon" sizes="114x114" href="{{ asset('img/favicon/apple-icon-114x114.png') }}">
		<link rel="apple-touch-icon" sizes="120x120" href="{{ asset('img/favicon/apple-icon-120x120.png') }}">
		<link rel="apple-touch-icon" sizes="144x144" href="{{ asset('img/favicon/apple-icon-144x144.png') }}">
		<link rel="apple-touch-icon" sizes="152x152" href="{{ asset('img/favicon/apple-icon-152x152.png') }}">
		<link rel="apple-touch-icon" sizes="180x180" href="{{ asset('img/favicon/apple-icon-180x180.png') }}">
		<link rel="icon" type="image/png" sizes="192x192" href="{{ asset('img/favicon/android-icon-192x192.png') }}">
		<link rel="icon" type="image/png" sizes="32x32" href="{{ asset('img/favicon/favicon-32x32.png') }}">
		<link rel="icon" type="image/png" sizes="96x96" href="{{ asset('img/favicon/favicon-96x96.png') }}">
		<link rel="icon" type="image/png" sizes="16x16" href="{{ asset('img/favicon/favicon-16x16.png') }}">
		<link rel="manifest" href="{{ asset('img/favicon/manifest.json') }}">
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="msapplication-TileImage" content="{{ asset('img/favicon/ms-icon-144x144.png') }}">
		<meta name="theme-color" content="#ffffff">
		<!-- // Favicon -->
	{% endblock %}
	
	{% block head_scripts %}
		<script src="{{ asset('streaming/js/owl.carousel.js') }}"></script>
		<script>
			$(document).ready(function() { 
				$("#owl-demo").owlCarousel({
						autoPlay: 3000, //Set AutoPlay to 3 seconds
						items : 5,
						itemsDesktop : [640,4],
						itemsDesktopSmall : [414,3]
					});
			}); 
		</script>
		
		<!-- start-smoth-scrolling -->
		<script type="text/javascript" src="{{ asset('streaming/js/move-top.js') }}"></script>
		<script type="text/javascript" src="{{ asset('streaming/js/easing.js') }}"></script>
		<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
				});
			});
		</script>
		<!-- start-smoth-scrolling -->
	{% endblock %}
</head>
<body>
	<div id="fb-root"></div>
	<script>
		(function(d, s, id) 
		{
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) return;
			js = d.createElement(s); js.id = id;
			js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.8&appId=193386651171477";
			fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
	</script>

	<!-- header -->
	<div class="header">
		<div class="container">
			<div class="w3layouts_logo">
				<a href="{{ path('doshibu_aw_home') }}"><h1>Afk<span>Watch</span></h1></a>
			</div>
			<div class="w3_search">
				<form action="#" method="post">
					<input type="text" name="Search" placeholder="Rechercher" required="">
					<input type="submit" value="Go">
				</form>
			</div>
			<div class="w3l_sign_in_register">
				<ul>
				{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
				    Connecté en tant que {{ app.user.username }}
				    -
				    <li><a href="{{ path('fos_user_security_logout') }}">Déconnexion</a></li>
				{% else %}
					<li><a href="#" data-toggle="modal" data-target="#myModal">Login</a></li>
				    <!--<li><a href="{{ path('fos_user_security_login') }}">Connexion</a></li>-->
				{% endif %}
				</ul>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
	<!-- //header -->
	<!-- bootstrap-pop-up -->
	<div class="modal video-modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModal">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					Inscription & Connexion
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>						
				</div>
				<section>
					<div class="modal-body">
						<div class="w3_login_module">
							<div class="module form-module">
								<div class="toggle">
									<i class="fa fa-times fa-pencil"></i>
									<div class="tooltip">Nouveau</div>
								</div>
								<div class="form">
									<h3>Connexion à votre compte</h3>
									{{ render(controller('FOSUserBundle:Security:login')) }}
								</div>
								<div class="form">
									<h3>Rejoignez nous</h3>
									{{ render(controller('FOSUserBundle:Registration:register')) }}
								</div>
								<div class="cta"><a href="#">Mot de passe perdu ?</a></div>
							</div>
						</div>
					</div>
				</section>
			</div>
		</div>
	</div>
	<script>
		$('.toggle').click(function(){
		  	// Switches the Icon & Tooltip Text
		  	$(this).children('i').toggleClass('fa-pencil');
		  	if( $(this).children('i').hasClass('fa-pencil') ) {
		  		$(this).children('div').text('Nouveau');
		  	} else {
		  		$(this).children('div').text('Membre');
		  	}
		  	

		  	
		  	// Switches the forms  
		  	$('.form').animate({
			  	height: "toggle",
			  	'padding-top': 'toggle',
			  	'padding-bottom': 'toggle',
			  	opacity: "toggle"
		  	}, "slow");
		});
	</script>
	<!-- //bootstrap-pop-up -->
	
	{{ render(controller("DoshibuAfkWatchBundle:Movie:mainMenu", {'activeMenu' : activeMenu})) }}

	<div class="general_social_icons">
		<nav class="social">
			<ul>
				<li class="w3_twitter"><a target="_blank" href="https://twitter.com/AfkWatch">Twitter <i class="fa fa-twitter"></i></a></li>
				<li class="w3_facebook"><a target="_blank" href="https://www.facebook.com/AfkWatch/">Facebook <i class="fa fa-facebook"></i></a></li>
				<li class="w3_dribbble"><a href="#">Dribbble <i class="fa fa-dribbble"></i></a></li>
				<li class="w3_g_plus"><a href="#">Google+ <i class="fa fa-google-plus"></i></a></li>				  
			</ul>
		</nav>
	</div>

	<div id="content">
		{% if alert is defined %}
			<div class="alert alert-{{ alert['class'] }} alert-dismissable alert-fixed fade in">
				<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
				&nbsp;{{ alert['message'] }}
			</div>
		{% endif %}

		{% block fos_user_content %}
		{% endblock fos_user_content %}

		{% block body %} {% endblock %}
	</div>

		<!-- footer -->
		<div class="footer">
			<div class="container">
				<div class="w3ls_footer_grid">
					<div class="col-md-6 w3ls_footer_grid_left">
						{% if newsletterForm is defined %}
							<div class="w3ls_footer_grid_left1">
								<h2>Restez informé !</h2>
								<div class="w3ls_footer_grid_left1_pos">								
									{{ include("DoshibuAfkWatchBundle:Movie:newsletterform.html.twig") }}
								</div>
							</div>
						{% endif %}
					</div>
					<div class="col-md-6 w3ls_footer_grid_right">
						<a href="{{ path('doshibu_aw_home') }}"><h2>Afk<span>Watch</span></h2></a>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="col-md-5 w3ls_footer_grid1_left">
					<p>
						&copy;&nbsp;2017&nbsp;AfkWatch<br />
						All rights reserved | Design by <a href="http://w3layouts.com/">W3layouts</a>
						&nbsp;|&nbsp;Integrated by <a href="https://github.com/Doshibu">Doshibu</a>
					</p>
				</div>
				<div class="col-md-7 w3ls_footer_grid1_right">
					<ul>
						<li>
							<a href="{{ path('doshibu_aw_genre') }}">Genres</a>
						</li>
						<li>
							<a href="{{ path('doshibu_aw_faq') }}">FAQ</a>
						</li>
						<li>
							<a href="{{ path('doshibu_aw_genre', {'slug': 'action'}) }}">Action</a>
						</li>
						<li>
							<a href="{{ path('doshibu_aw_genre', {'slug': 'aventure'}) }}">Aventure</a>
						</li>
						<li>
							<a href="{{ path('doshibu_aw_genre', {'slug': 'comedie'}) }}">Comedie</a>
						</li>
						<li>
							<a href="{{ path('doshibu_aw_contact') }}">Contactez Nous</a>
						</li>
					</ul>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
		<!-- //footer -->

		{% block bodyEnd_scripts %}
			<!-- Bootstrap Core JavaScript -->
			<script src="{{ asset('streaming/js/bootstrap.min.js') }}"></script>
			<script>
				$(document).ready(function(){
					$(".dropdown").hover(            
						function() {
							$('.dropdown-menu', this).stop( true, true ).slideDown("fast");
							$(this).toggleClass('open');        
						},
						function() {
							$('.dropdown-menu', this).stop( true, true ).slideUp("fast");
							$(this).toggleClass('open');       
						}
					);
				});
			</script>
			<!-- //Bootstrap Core JavaScript -->

			<!-- here stars scrolling icon -->
			<script type="text/javascript">
				$(document).ready(function() {
				/*
					var defaults = {
					containerID: 'toTop', // fading element id
					containerHoverID: 'toTopHover', // fading element hover id
					scrollSpeed: 1200,
					easingType: 'linear' 
					};
					*/
					$().UItoTop({ easingType: 'easeOutQuart' });						
				});
			</script>
			<!-- //here ends scrolling icon -->

			<!-- Chatango -->
			<script id="cid0020000152814684980" data-cfasync="false" async src="//st.chatango.com/js/gz/emb.js" style="width: 275px;height: 500px;">
				{
					"handle":"afkwatch",
					"arch":"js",
					"styles":
					{
						"a":"ff9900",
						"b":100,
						"c":"000000",
						"d":"000000",
						"k":"ff9900",
						"l":"ff9900",
						"m":"ff9900",
						"p":"10",
						"q":"ff9900",
						"r":100,
						"pos":"br",
						"cv":1,
						"cvfntsz":"14px",						
						"cvbg":"ff9900",
						"cvw":275,
						"cvh":40,
						"ticker":1,
						"fwtickm":1
					}
				}
			</script>
			<!-- //Chatango -->
		{% endblock %}
	</body>
</html>
