<!-- nav -->

<div class="movies_nav">
	<div class="container">
		<nav class="navbar navbar-default">
			<div class="navbar-header navbar-left">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
				<nav>
					<ul class="nav navbar-nav">
						<li {% if activeMenu  ==  'Accueil' %}class="active"{% endif %}>
							<a href="{{ path('doshibu_admin_home') }}">Accueil</a>
						</li>
						<li {% if activeMenu == 'Gestion' %}class="active"{% endif %}>
							<a href="{{ path('doshibu_admin_management') }}">Gestion</a>
						</li>
						<li {% if activeMenu == 'Films' %}class="active"{% endif %}>
							<a href="{{ path('doshibu_admin_movies') }}">Films</a>
						</li>
						<li {% if activeMenu == 'Series' %}class="active"{% endif %}>
							<a href="{{ path('doshibu_admin_series') }}">Series</a>
						</li>
						<li {% if activeMenu == 'News' %}class="active"{% endif %}>
							<a href="{{ path('doshibu_admin_news') }}">News</a>
						</li>
						<li {% if activeMenu == 'Autres' %}class="active"{% endif %}>
							<a href="{{ path('doshibu_admin_more') }}">Autres</a>
						</li>
					</ul>
				</nav>
			</div>
		</nav>	
	</div>
</div>