{% extends "DoshibuAfkWatchBundle::layout.html.twig" %}

{% block body %}
	<!-- faq-banner -->
	<div class="faq">
		<h4 class="latest-text w3_faq_latest_text w3_latest_text">Questions Fréquemment Posées</h4>
		<div class="container">
			<div class="panel-group w3l_panel_group_faq" id="accordion" role="tablist" aria-multiselectable="true">
				{% for question in listQuestion %}
					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="heading{{ question.id }}">
							<h4 class="panel-title asd">
								<a class="pa_italic{% if not loop.first %} collapsed{% endif %}" role="button" data-toggle="collapse" data-parent="#accordion" 
								href="#collapse{{ question.id }}" aria-controls="collapse{{ question.id }}"
								{% if loop.first %}
									aria-expanded="true" 
								{% else %}
									aria-expanded="false" 
								{% endif %}
								>
									<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
									<i class="glyphicon glyphicon-minus" aria-hidden="true"></i>
									{{ question.question }}
								</a>
							</h4>
						</div>
						<div id="collapse{{ question.id }}" class="panel-collapse collapse
						{% if loop.first %} in{% endif %}" role="tabpanel" aria-labelledby="heading{{ question.id }}">
							<div class="panel-body panel_text">
								{{ question.answer }}
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
	<!-- //faq-banner -->
{% endblock %}