{% extends "DoshibuAfkWatchBundle::layout.html.twig" %}

{% set activeMenu = 'Genre' %}

{% block body %}
	<!-- /w3l-medile-movies-grids -->
	<div class="general-agileits-w3l">
		<div class="w3l-medile-movies-grids">
			<!-- /movie-browse-agile -->	
			<div class="movie-browse-agile">
				<!--/browse-agile-w3ls -->
				<div class="browse-agile-w3ls general-w3ls">
					<div class="tittle-head">
						<h4 class="latest-text">Film par genre&nbsp;:&nbsp;
							<a href="{{ path('doshibu_aw_genre', {'slug' : genre.slug, 'page' : 1}) }}">{{ genre.name }}</a>
						</h4>
						<div class="container">
							<div class="agileits-single-top">
								<ol class="breadcrumb">
									<li><a href="{{ path('doshibu_aw_home') }}">Accueil</a></li>
									<li class="active">{{ genre.name }}</li>
								</ol>
							</div>
						</div>
					</div>
					<div class="container">
						<div class="browse-inner">
							{% for movie in listMovie[0:6] %}							
								<div class="col-md-2 w3l-movie-gride-agile">
									<a href="{{ path('doshibu_aw_movie', {'slug' : movie.slug}) }}" class="hvr-shutter-out-horizontal">
										<img src="{{ movie.imageSmall.url }}" title="album-name" class="img-responsive" alt="{{ movie.imageSmall.alt }}" style="width:182px; height: 268px;" />
										<div class="w3l-action-icon"><i class="fa fa-play-circle" aria-hidden="true"></i></div>
									</a>
									<div class="mid-1 agileits_w3layouts_mid_1_home">
										<div class="w3l-movie-text">
											<h6><a href="{{ path('doshibu_aw_movie', {'slug' : movie.slug}) }}">{{ movie.name }}</a></h6>							
										</div>
										<div class="mid-2 agile_mid_2_home">
											<p>{{ movie.dateRelease|date('Y') }}</p>
											<div class="block-stars">
												<ul class="w3l-ratings">
													{{ render(controller("DoshibuAfkWatchBundle:UserControl:blockStar", {'rating': movie.rating})) }}
												</ul>
											</div>
											<div class="clearfix"></div>
										</div>
									</div>
									{% if date(movie.addedAt) >= date('-30days') %}
										<div class="ribben">
											<p>NEW</p>
										</div>
									{% endif %}
								</div>
							{% endfor %}

							<div class="clearfix"> </div>
						</div>
						<!-- /latest-movies1 -->
						<div class="browse-inner-come-agile-w3">
							{% for movie in listMovie[6:6] %}							
								<div class="col-md-2 w3l-movie-gride-agile">
									<a href="{{ path('doshibu_aw_movie', {'slug' : movie.slug}) }}" class="hvr-shutter-out-horizontal">
										<img src="{{ movie.imageSmall.url }}" title="album-name" class="img-responsive" alt="{{ movie.imageSmall.alt }}" style="width:182px; height: 268px;" />
										<div class="w3l-action-icon"><i class="fa fa-play-circle" aria-hidden="true"></i></div>
									</a>
									<div class="mid-1 agileits_w3layouts_mid_1_home">
										<div class="w3l-movie-text">
											<h6><a href="{{ path('doshibu_aw_movie', {'slug' : movie.slug}) }}">{{ movie.name }}</a></h6>							
										</div>
										<div class="mid-2 agile_mid_2_home">
											<p>{{ movie.dateRelease|date('Y') }}</p>
											<div class="block-stars">
												<ul class="w3l-ratings">
													{{ render(controller("DoshibuAfkWatchBundle:UserControl:blockStar", {'rating': movie.rating})) }}
												</ul>
											</div>
											<div class="clearfix"></div>
										</div>
									</div>
									{% if date(movie.addedAt) >= date('-30days') %}
										<div class="ribben">
											<p>NEW</p>
										</div>
									{% endif %}
								</div>
							{% endfor %}

							<div class="clearfix"> </div>
						</div>
						<!-- //latest-movies1 -->
						<!-- /latest-movies1 -->
						<div class="browse-inner">
							{% for movie in listMovie[12:6] %}							
								<div class="col-md-2 w3l-movie-gride-agile">
									<a href="{{ path('doshibu_aw_movie', {'slug' : movie.slug}) }}" class="hvr-shutter-out-horizontal">
										<img src="{{ movie.imageSmall.url }}" title="album-name" class="img-responsive" alt="{{ movie.imageSmall.alt }}" style="width:182px; height: 268px;" />
										<div class="w3l-action-icon"><i class="fa fa-play-circle" aria-hidden="true"></i></div>
									</a>
									<div class="mid-1 agileits_w3layouts_mid_1_home">
										<div class="w3l-movie-text">
											<h6><a href="{{ path('doshibu_aw_movie', {'slug' : movie.slug}) }}">{{ movie.name }}</a></h6>							
										</div>
										<div class="mid-2 agile_mid_2_home">
											<p>{{ movie.dateRelease|date('Y') }}</p>
											<div class="block-stars">
												<ul class="w3l-ratings">
													{{ render(controller("DoshibuAfkWatchBundle:UserControl:blockStar", {'rating': movie.rating})) }}
												</ul>
											</div>
											<div class="clearfix"></div>
										</div>
									</div>
									{% if date(movie.addedAt) >= date('-30days') %}
										<div class="ribben">
											<p>NEW</p>
										</div>
									{% endif %}
								</div>
							{% endfor %}

							<div class="clearfix"> </div>
						</div>
						<!-- /latest-movies1 -->
						<div class="browse-inner-come-agile-w3">
							{% for movie in listMovie[18:6] %}							
								<div class="col-md-2 w3l-movie-gride-agile">
									<a href="{{ path('doshibu_aw_movie', {'slug' : movie.slug}) }}" class="hvr-shutter-out-horizontal">
										<img src="{{ movie.imageSmall.url }}" title="album-name" class="img-responsive" alt="{{ movie.imageSmall.alt }}" style="width:182px; height: 268px;" />
										<div class="w3l-action-icon"><i class="fa fa-play-circle" aria-hidden="true"></i></div>
									</a>
									<div class="mid-1 agileits_w3layouts_mid_1_home">
										<div class="w3l-movie-text">
											<h6><a href="{{ path('doshibu_aw_movie', {'slug' : movie.slug}) }}">{{ movie.name }}</a></h6>							
										</div>
										<div class="mid-2 agile_mid_2_home">
											<p>{{ movie.dateRelease|date('Y') }}</p>
											<div class="block-stars">
												<ul class="w3l-ratings">
													{{ render(controller("DoshibuAfkWatchBundle:UserControl:blockStar", {'rating': movie.rating})) }}
												</ul>
											</div>
											<div class="clearfix"></div>
										</div>
									</div>
									{% if date(movie.addedAt) >= date('-30days') %}
										<div class="ribben">
											<p>NEW</p>
										</div>
									{% endif %}
								</div>
							{% endfor %}

							<div class="clearfix"> </div>
						</div>
						<!-- //latest-movies1 -->
					</div>
				</div>

				<div class="blog-pagenat-wthree">
					<ul>
						{# On utilise la fonction range(a, b) qui crée un tableau de valeurs entre a et b #}
						{% if page >= 2 %}
							<li><a class="frist" href="{{ path('doshibu_aw_genre', {'slug' : genre.slug, 'page' : page-1}) }}">Précédent</a></li>
						{% endif %}

						{% for p in range(1, nbPages) %}
							<li{% if p == page %} class="active"{% endif %}>
								<a href="{{ path('doshibu_aw_genre', {'slug' : genre.slug, 'page' : p}) }}">{{ p }}</a>
							</li>
						{% endfor %}

						{% if page <= nbPages-1 %}
							<li><a class="last" href="{{ path('doshibu_aw_genre', {'slug' : genre.slug, 'page' : page+1}) }}">Suivant</a></li>
						{% endif %}
					</ul>
				</div>
			</div>
			<!-- //movie-browse-agile -->
			<!--body wrapper start-->
			<!--body wrapper start-->
			<div class="review-slider">
				<h4 class="latest-text">Les 10 films les plus vus</h4>
				<div class="container">
					<div class="w3_agile_banner_bottom_grid">
						<div id="owl-demo" class="owl-carousel owl-theme">
							{% for movie in listPopular %}
								<div class="item">
									<div class="w3l-movie-gride-agile w3l-movie-gride-agile1">
										<a href="{{ path('doshibu_aw_movie', {'slug' : movie.slug}) }}" class="hvr-shutter-out-horizontal">
											<img src="{{ movie.imageSmall.url }}" title="album-name" class="img-responsive" alt="{{ movie.imageSmall.alt }}" style="width:182px; height: 268px;" />
											<div class="w3l-action-icon"><i class="fa fa-play-circle" aria-hidden="true"></i></div>
										</a>
										<div class="mid-1 agileits_w3layouts_mid_1_home">
											<div class="w3l-movie-text">
												<h6><a href="{{ path('doshibu_aw_movie', {'slug' : movie.slug}) }}">{{ movie.name }}</a></h6>							
											</div>
											<div class="mid-2 agile_mid_2_home">
												<p>{{ movie.dateRelease|date('Y') }}</p>
												<div class="block-stars">
													<ul class="w3l-ratings">
														{{ render(controller("DoshibuAfkWatchBundle:UserControl:blockStar", {'rating': movie.rating})) }}
													</ul>
												</div>
												<div class="clearfix"></div>
											</div>
										</div>
										{% if date(movie.addedAt) >= date('-30days') %}
											<div class="ribben">
												<p>NEW</p>
											</div>
										{% endif %}
									</div>
								</div>
							{% endfor %}
						</div>
					</div>
					<!--body wrapper end-->
				</div>	
			</div>	
		</div>
		<!-- //w3l-medile-movies-grids -->
	</div>
	<!-- //comedy-w3l-agileits -->
{% endblock %}