{% extends "DoshibuAfkWatchBundle::layout.html.twig" %}

{% block body %}
	{# Start banner #}
	<div id="slidey" style="display:none;">
		<ul>
			{% for movie in listMovie[:5] %}
				<li>
					<img src="{{ movie.imageLarge.url }}" alt="{{ movie.imageLarge.alt }}">
					<p class='title'>{{ movie.name }}</p>
					<p class='description'>{{ movie.tinyDescription }}</p>
				</li>
			{% endfor %}
		</ul>   	
	</div>
	<script src="{{ asset('streaming/js/jquery.slidey.js') }}"></script>
	<script src="{{ asset('streaming/js/jquery.dotdotdot.min.js') }}"></script>
	<script type="text/javascript">
		$("#slidey").slidey({
			interval: 8000,
			listCount: 5,
			autoplay: false,
			showList: true
		});
		$(".slidey-list-description").dotdotdot();
	</script>
	{# End banner #}

	<!-- banner-bottom -->
	<div class="banner-bottom">
		<div class="container">
			<div class="w3_agile_banner_bottom_grid">
				<div id="owl-demo" class="owl-carousel owl-theme">
					{% for movie in listMovie[:10] %}
						<div class="item">
							<div class="w3l-movie-gride-agile w3l-movie-gride-agile1">
								<a href="{{ path('doshibu_aw_single', {'id' : movie.id}) }}" class="hvr-shutter-out-horizontal">
									<img src="{{ movie.imageSmall.url }}" title="album-name" class="img-responsive" alt="{{ movie.imageSmall.alt }}" style="width:182px; height: 268px;" />
									<div class="w3l-action-icon"><i class="fa fa-play-circle" aria-hidden="true"></i></div>
								</a>
								<div class="mid-1 agileits_w3layouts_mid_1_home">
									<div class="w3l-movie-text">
										<h6><a href="{{ path('doshibu_aw_single', {'id' : movie.id}) }}">{{ movie.name }}</a></h6>							
									</div>
									<div class="mid-2 agile_mid_2_home">
										<p>{{ movie.dateRelease|date('Y') }}</p>
										<div class="block-stars">
											<ul class="w3l-ratings">
												<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
												<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
												<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
												<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
												<li><a href="#"><i class="fa fa-star-half-o" aria-hidden="true"></i></a></li>
											</ul>
										</div>
										<div class="clearfix"></div>
									</div>
								</div>
								<div class="ribben">
									<p>NEW</p>
								</div>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>			
		</div>
	</div>
	<!-- //banner-bottom -->
	<!-- general -->
	<div class="general">
		<h4 class="latest-text w3_latest_text">Films d'actualité</h4>
		<div class="container">
			<div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
				<ul id="myTab" class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#home" id="home-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">Ajout Récent</a></li>
					<li role="presentation"><a href="#profile" role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile" aria-expanded="false">Populaire</a></li>
					<li role="presentation"><a href="#rating" id="rating-tab" role="tab" data-toggle="tab" aria-controls="rating" aria-expanded="true">Mieux notés</a></li>
					<li role="presentation"><a href="#imdb" role="tab" id="imdb-tab" data-toggle="tab" aria-controls="imdb" aria-expanded="false">Plus vus</a></li>
				</ul>
				<div id="myTabContent" class="tab-content">
					<div role="tabpanel" class="tab-pane fade active in" id="home" aria-labelledby="home-tab">
						<div class="w3_agile_featured_movies">
							{% for movie in listMovie[:8] %}
								<div class="col-md-2 w3l-movie-gride-agile">
									<a href="{{ path('doshibu_aw_single', {'id' : movie.id}) }}" class="hvr-shutter-out-horizontal">
										<img src="{{ movie.imageSmall.url }}" title="album-name" class="img-responsive" alt="{{ movie.imageSmall.alt }}" style="width:182px; height: 268px;" />
										<div class="w3l-action-icon"><i class="fa fa-play-circle" aria-hidden="true"></i></div>
									</a>
									<div class="mid-1 agileits_w3layouts_mid_1_home">
										<div class="w3l-movie-text">
											<h6><a href="{{ path('doshibu_aw_single', {'id' : movie.id}) }}">{{ movie.name }}</a></h6>							
										</div>
										<div class="mid-2 agile_mid_2_home">
											<p>{{ movie.dateRelease|date('Y') }}</p>
											<div class="block-stars">
												<ul class="w3l-ratings">
													<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
													<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
													<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
													<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
													<li><a href="#"><i class="fa fa-star-half-o" aria-hidden="true"></i></a></li>
												</ul>
											</div>
											<div class="clearfix"></div>
										</div>
									</div>
									<div class="ribben">
										<p>NEW</p>
									</div>
								</div>
							{% endfor %}
							<div class="clearfix"> </div>
						</div>
					</div>
					<div role="tabpanel" class="tab-pane fade" id="profile" aria-labelledby="profile-tab">
						{% for movie in listMovie[5:5] %}
							<div class="col-md-2 w3l-movie-gride-agile">
								<a href="{{ path('doshibu_aw_single', {'id' : movie.id}) }}" class="hvr-shutter-out-horizontal">
									<img src="{{ movie.imageSmall.url }}" title="album-name" class="img-responsive" alt="{{ movie.imageSmall.alt }}" style="width:182px; height: 268px;" />
									<div class="w3l-action-icon"><i class="fa fa-play-circle" aria-hidden="true"></i></div>
								</a>
								<div class="mid-1 agileits_w3layouts_mid_1_home">
									<div class="w3l-movie-text">
										<h6><a href="{{ path('doshibu_aw_single', {'id' : movie.id}) }}">{{ movie.name }}</a></h6>							
									</div>
									<div class="mid-2 agile_mid_2_home">
										<p>{{ movie.dateRelease|date('Y') }}</p>
										<div class="block-stars">
											<ul class="w3l-ratings">
												<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
												<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
												<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
												<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
												<li><a href="#"><i class="fa fa-star-half-o" aria-hidden="true"></i></a></li>
											</ul>
										</div>
										<div class="clearfix"></div>
									</div>
								</div>
								<div class="ribben">
									<p>NEW</p>
								</div>
							</div>
						{% endfor %}
						<div class="clearfix"> </div>
					</div>
					<div role="tabpanel" class="tab-pane fade" id="rating" aria-labelledby="rating-tab">
						{% for movie in listMovie[4:4] %}
							<div class="col-md-2 w3l-movie-gride-agile">
								<a href="{{ path('doshibu_aw_single', {'id' : movie.id}) }}" class="hvr-shutter-out-horizontal">
									<img src="{{ movie.imageSmall.url }}" title="album-name" class="img-responsive" alt="{{ movie.imageSmall.alt }}" style="width:182px; height: 268px;" />
									<div class="w3l-action-icon"><i class="fa fa-play-circle" aria-hidden="true"></i></div>
								</a>
								<div class="mid-1 agileits_w3layouts_mid_1_home">
									<div class="w3l-movie-text">
										<h6><a href="{{ path('doshibu_aw_single', {'id' : movie.id}) }}">{{ movie.name }}</a></h6>							
									</div>
									<div class="mid-2 agile_mid_2_home">
										<p>{{ movie.dateRelease|date('Y') }}</p>
										<div class="block-stars">
											<ul class="w3l-ratings">
												<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
												<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
												<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
												<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
												<li><a href="#"><i class="fa fa-star-half-o" aria-hidden="true"></i></a></li>
											</ul>
										</div>
										<div class="clearfix"></div>
									</div>
								</div>
								<div class="ribben">
									<p>NEW</p>
								</div>
							</div>
						{% endfor %}
						<div class="clearfix"> </div>
					</div>
					<div role="tabpanel" class="tab-pane fade" id="imdb" aria-labelledby="imdb-tab">
						{% for movie in listMovie[1:7] %}
							<div class="col-md-2 w3l-movie-gride-agile">
								<a href="{{ path('doshibu_aw_single', {'id' : movie.id}) }}" class="hvr-shutter-out-horizontal">
									<img src="{{ movie.imageSmall.url }}" title="album-name" class="img-responsive" alt="{{ movie.imageSmall.alt }}" style="width:182px; height: 268px;"/>
									<div class="w3l-action-icon"><i class="fa fa-play-circle" aria-hidden="true"></i></div>
								</a>
								<div class="mid-1 agileits_w3layouts_mid_1_home">
									<div class="w3l-movie-text">
										<h6><a href="{{ path('doshibu_aw_single', {'id' : movie.id}) }}">{{ movie.name }}</a></h6>							
									</div>
									<div class="mid-2 agile_mid_2_home">
										<p>{{ movie.dateRelease|date('Y') }}</p>
										<div class="block-stars">
											<ul class="w3l-ratings">
												<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
												<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
												<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
												<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
												<li><a href="#"><i class="fa fa-star-half-o" aria-hidden="true"></i></a></li>
											</ul>
										</div>
										<div class="clearfix"></div>
									</div>
								</div>
								<div class="ribben">
									<p>NEW</p>
								</div>
							</div>
						{% endfor %}
						<div class="clearfix"> </div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- //general -->
	<!-- Latest-tv-series -->
	<div class="Latest-tv-series">
		<h4 class="latest-text w3_latest_text w3_home_popular">Parmis les films les plus populaires</h4>
		<div class="container">
			<section class="slider">
				<div class="flexslider">
					<ul class="slides">
						<li>
							<div class="agile_tv_series_grid">
								{#<div id="small-dialog{{ listMovie[9].id }}" class="mfp-hide">
									<iframe src="{{ listMovie[9].urlTrailer }}"></iframe>
								</div>#}
								<div class="col-md-6 agile_tv_series_grid_left">
									<div class="w3ls_market_video_grid1">
										<img src="{{ listMovie[9].imageLarge.url }}" alt="{{ listMovie[9].imageSmall.alt }}" class="img-responsive" style="width: 640px; height: 351px;"/>
										<a class="w3_play_icon" href="#small-dialog{{ listMovie[9].id }}">
											<span class="glyphicon glyphicon-play-circle" aria-hidden="true"></span>
										</a>
									</div>
								</div>
								<div class="col-md-6 agile_tv_series_grid_right">
									<p class="fexi_header">{{ listMovie[9].name }}</p>
									<p class="fexi_header_para">
										<span class="conjuring_w3">Description
											<label>:</label>
										</span>&nbsp;
										{{ listMovie[9].description }}
									</p>
									<p class="fexi_header_para">
										<span>Date de sortie
											<label>:</label>
										</span>&nbsp;
										{{ listMovie[9].dateRelease|localizeddate('medium', 'none', 'en') }}
									</p>
									<p class="fexi_header_para">
										<span>Genres
											<label>:</label> 
										</span>&nbsp;
										<a href="{{ path('doshibu_aw_genre', {'slug': 'drame'}) }}">Drame</a> | 
										<a href="{{ path('doshibu_aw_genre', {'slug': 'aventure'}) }}">Aventure</a> | 
										<a href="{{ path('doshibu_aw_genre', {'slug': 'action'}) }}">Action</a>								
									</p>
									<p class="fexi_header_para fexi_header_para1">
										<span>Note
											<label>:</label>
										</span>
										<a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
										<a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
										<a href="#"><i class="fa fa-star-half-o" aria-hidden="true"></i></a>
										<a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a>
										<a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a>
									</p>
								</div>
								<div class="clearfix"> </div>
								<div class="agileinfo_flexislider_grids">
									{% for movie in listMovie[0:5] %}									
										<div class="col-md-2 w3l-movie-gride-agile">
											<a href="{{ path('doshibu_aw_single', {'id' : movie.id}) }}" class="hvr-shutter-out-horizontal">
												<img src="{{ movie.imageSmall.url }}" title="album-name" class="img-responsive" alt="{{ movie.imageSmall.alt }}" style="width:182px; height: 268px;" />
												<div class="w3l-action-icon"><i class="fa fa-play-circle" aria-hidden="true"></i></div>
											</a>
											<div class="mid-1 agileits_w3layouts_mid_1_home">
												<div class="w3l-movie-text">
													<h6><a href="{{ path('doshibu_aw_single', {'id' : movie.id}) }}">{{ movie.name }}</a></h6>							
												</div>
												<div class="mid-2 agile_mid_2_home">
													<p>{{ movie.dateRelease|date('Y') }}</p>
													<div class="block-stars">
														<ul class="w3l-ratings">
															<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
															<li><a href="#"><i class="fa fa-star-half-o" aria-hidden="true"></i></a></li>
															<li><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>
															<li><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>
															<li><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>
														</ul>
													</div>
													<div class="clearfix"></div>
												</div>
											</div>
											<div class="ribben">
												<p>NEW</p>
											</div>
										</div>
									{% endfor %}
									<div class="clearfix"> </div>
								</div>
							</div>
						</li>
						<li>
							<div class="agile_tv_series_grid">
								{#<div id="small-dialog{{ listMovie[5].id }}" class="mfp-hide">
									<iframe src="{{ listMovie[5].urlTrailer }}"></iframe>
								</div>#}
								<div class="col-md-6 agile_tv_series_grid_left">
									<div class="w3ls_market_video_grid1">
										<img src="{{ listMovie[5].imageLarge.url }}" alt="{{ listMovie[5].imageSmall.alt }}" class="img-responsive" style="width: 640px; height: 351px;"/>
										<a class="w3_play_icon" href="#small-dialog{{ listMovie[5].id }}">
											<span class="glyphicon glyphicon-play-circle" aria-hidden="true"></span>
										</a>
									</div>
								</div>
								<div class="col-md-6 agile_tv_series_grid_right">
									<p class="fexi_header">{{ listMovie[5].name }}</p>
									<p class="fexi_header_para">
										<span class="conjuring_w3">Description
											<label>:</label>
										</span>&nbsp;
										{{ listMovie[5].description }}
									</p>
									<p class="fexi_header_para">
										<span>Date de sortie
											<label>:</label>
										</span>&nbsp;
										{{ listMovie[5].dateRelease| localizeddate('medium', 'none', 'en') }}
									</p>
									<p class="fexi_header_para">
										<span>Genres
											<label>:</label> 
										</span>&nbsp;
										<a href="{{ path('doshibu_aw_genre', {'slug': 'drame'}) }}">Drame</a> | 
										<a href="{{ path('doshibu_aw_genre', {'slug': 'aventure'}) }}">Aventure</a> | 
										<a href="{{ path('doshibu_aw_genre', {'slug': 'action'}) }}">Action</a>								
									</p>
									<p class="fexi_header_para fexi_header_para1">
										<span>Note
											<label>:</label>
										</span>
										<a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
										<a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
										<a href="#"><i class="fa fa-star-half-o" aria-hidden="true"></i></a>
										<a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a>
										<a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a>
									</p>
								</div>
								<div class="clearfix"> </div>
								<div class="agileinfo_flexislider_grids">
									{% for movie in listMovie[2:5] %}									
										<div class="col-md-2 w3l-movie-gride-agile">
											<a href="{{ path('doshibu_aw_single', {'id' : movie.id}) }}" class="hvr-shutter-out-horizontal">
												<img src="{{ movie.imageSmall.url }}" title="album-name" class="img-responsive" alt="{{ movie.imageSmall.alt }}" style="width:182px; height: 268px;" />
												<div class="w3l-action-icon"><i class="fa fa-play-circle" aria-hidden="true"></i></div>
											</a>
											<div class="mid-1 agileits_w3layouts_mid_1_home">
												<div class="w3l-movie-text">
													<h6><a href="{{ path('doshibu_aw_single', {'id' : movie.id}) }}">{{ movie.name }}</a></h6>							
												</div>
												<div class="mid-2 agile_mid_2_home">
													<p>{{ movie.dateRelease|date('Y') }}</p>
													<div class="block-stars">
														<ul class="w3l-ratings">
															<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
															<li><a href="#"><i class="fa fa-star-half-o" aria-hidden="true"></i></a></li>
															<li><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>
															<li><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>
															<li><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>
														</ul>
													</div>
													<div class="clearfix"></div>
												</div>
											</div>
											<div class="ribben">
												<p>NEW</p>
											</div>
										</div>
									{% endfor %}
									<div class="clearfix"> </div>
								</div>
							</div>
						</li>
						<li>
							<div class="agile_tv_series_grid">
								{#<div id="small-dialog{{ listMovie[6].id }}" class="mfp-hide">
									<iframe src="{{ listMovie[6].urlTrailer }}"></iframe>
								</div>#}
								<div class="col-md-6 agile_tv_series_grid_left">
									<div class="w3ls_market_video_grid1">
										<img src="{{ listMovie[6].imageLarge.url }}" alt="{{ listMovie[6].imageSmall.alt }}" class="img-responsive" style="width: 640px; height: 351px;"/>
										<a class="w3_play_icon" href="#small-dialog{{ listMovie[6].id }}">
											<span class="glyphicon glyphicon-play-circle" aria-hidden="true"></span>
										</a>
									</div>
								</div>
								<div class="col-md-6 agile_tv_series_grid_right">
									<p class="fexi_header">{{ listMovie[6].name }}</p>
									<p class="fexi_header_para">
										<span class="conjuring_w3">Description
											<label>:</label>
										</span>&nbsp;
										{{ listMovie[6].description }}
									</p>
									<p class="fexi_header_para">
										<span>Date de sortie
											<label>:</label>
										</span>&nbsp;
										{{ listMovie[6].dateRelease| localizeddate('medium', 'none', 'en') }}
									</p>
									<p class="fexi_header_para">
										<span>Genres
											<label>:</label> 
										</span>&nbsp;
										<a href="{{ path('doshibu_aw_genre', {'slug': 'drame'}) }}">Drame</a> | 
										<a href="{{ path('doshibu_aw_genre', {'slug': 'aventure'}) }}">Aventure</a> | 
										<a href="{{ path('doshibu_aw_genre', {'slug': 'action'}) }}">Action</a>								
									</p>
									<p class="fexi_header_para fexi_header_para1">
										<span>Note
											<label>:</label>
										</span>
										<a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
										<a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
										<a href="#"><i class="fa fa-star-half-o" aria-hidden="true"></i></a>
										<a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a>
										<a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a>
									</p>
								</div>
								<div class="clearfix"> </div>
								<div class="agileinfo_flexislider_grids">
									{% for movie in listMovie[4:5] %}									
										<div class="col-md-2 w3l-movie-gride-agile">
											<a href="{{ path('doshibu_aw_single', {'id' : movie.id}) }}" class="hvr-shutter-out-horizontal">
												<img src="{{ movie.imageSmall.url }}" title="album-name" class="img-responsive" alt="{{ movie.imageSmall.alt }}" style="width:182px; height: 268px;" />
												<div class="w3l-action-icon"><i class="fa fa-play-circle" aria-hidden="true"></i></div>
											</a>
											<div class="mid-1 agileits_w3layouts_mid_1_home">
												<div class="w3l-movie-text">
													<h6><a href="{{ path('doshibu_aw_single', {'id' : movie.id}) }}">{{ movie.name }}</a></h6>							
												</div>
												<div class="mid-2 agile_mid_2_home">
													<p>{{ movie.dateRelease|date('Y') }}</p>
													<div class="block-stars">
														<ul class="w3l-ratings">
															<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
															<li><a href="#"><i class="fa fa-star-half-o" aria-hidden="true"></i></a></li>
															<li><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>
															<li><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>
															<li><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>
														</ul>
													</div>
													<div class="clearfix"></div>
												</div>
											</div>
											<div class="ribben">
												<p>NEW</p>
											</div>
										</div>
									{% endfor %}
									<div class="clearfix"> </div>
								</div>
							</div>
						</li>
						<li>
							<div class="agile_tv_series_grid">
								{#<div id="small-dialog{{ listMovie[7].id }}" class="mfp-hide">
									<iframe src="{{ listMovie[7].urlTrailer }}"></iframe>
								</div>#}
								<div class="col-md-6 agile_tv_series_grid_left">
									<div class="w3ls_market_video_grid1">
										<img src="{{ listMovie[7].imageLarge.url }}" alt="{{ listMovie[7].imageSmall.alt }}" class="img-responsive" style="width: 640px; height: 351px;"/>
										<a class="w3_play_icon" href="#small-dialog{{ listMovie[7].id }}">
											<span class="glyphicon glyphicon-play-circle" aria-hidden="true"></span>
										</a>
									</div>
								</div>
								<div class="col-md-6 agile_tv_series_grid_right">
									<p class="fexi_header">{{ listMovie[7].name }}</p>
									<p class="fexi_header_para">
										<span class="conjuring_w3">Description
											<label>:</label>
										</span>&nbsp;
										{{ listMovie[7].description }}
									</p>
									<p class="fexi_header_para">
										<span>Date de sortie
											<label>:</label>
										</span>&nbsp;
										{{ listMovie[7].dateRelease| localizeddate('medium', 'none', 'en') }}
									</p>
									<p class="fexi_header_para">
										<span>Genres
											<label>:</label> 
										</span>&nbsp;
										<a href="{{ path('doshibu_aw_genre', {'slug': 'drame'}) }}">Drame</a> | 
										<a href="{{ path('doshibu_aw_genre', {'slug': 'aventure'}) }}">Aventure</a> | 
										<a href="{{ path('doshibu_aw_genre', {'slug': 'action'}) }}">Action</a>								
									</p>
									<p class="fexi_header_para fexi_header_para1">
										<span>Note
											<label>:</label>
										</span>
										<a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
										<a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
										<a href="#"><i class="fa fa-star-half-o" aria-hidden="true"></i></a>
										<a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a>
										<a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a>
									</p>
								</div>
								<div class="clearfix"> </div>
								<div class="agileinfo_flexislider_grids">
									{% for movie in listMovie[3:5] %}									
										<div class="col-md-2 w3l-movie-gride-agile">
											<a href="{{ path('doshibu_aw_single', {'id' : movie.id}) }}" class="hvr-shutter-out-horizontal">
												<img src="{{ movie.imageSmall.url }}" title="album-name" class="img-responsive" alt="{{ movie.imageSmall.alt }}" style="width:182px; height: 268px;" />
												<div class="w3l-action-icon"><i class="fa fa-play-circle" aria-hidden="true"></i></div>
											</a>
											<div class="mid-1 agileits_w3layouts_mid_1_home">
												<div class="w3l-movie-text">
													<h6><a href="{{ path('doshibu_aw_single', {'id' : movie.id}) }}">{{ movie.name }}</a></h6>							
												</div>
												<div class="mid-2 agile_mid_2_home">
													<p>{{ movie.dateRelease|date('Y') }}</p>
													<div class="block-stars">
														<ul class="w3l-ratings">
															<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
															<li><a href="#"><i class="fa fa-star-half-o" aria-hidden="true"></i></a></li>
															<li><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>
															<li><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>
															<li><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>
														</ul>
													</div>
													<div class="clearfix"></div>
												</div>
											</div>
											<div class="ribben">
												<p>NEW</p>
											</div>
										</div>
									{% endfor %}
									<div class="clearfix"> </div>
								</div>
							</div>
						</li>
						<li>
							<div class="agile_tv_series_grid">
								{#<div id="small-dialog{{ listMovie[8].id }}" class="mfp-hide">
									<iframe src="{{ listMovie[8].urlTrailer }}"></iframe>
								</div>#}
								<div class="col-md-6 agile_tv_series_grid_left">
									<div class="w3ls_market_video_grid1">
										<img src="{{ listMovie[8].imageLarge.url }}" alt="{{ listMovie[8].imageSmall.alt }}" class="img-responsive" style="width: 640px; height: 351px;"/>
										<a class="w3_play_icon" href="#small-dialog{{ listMovie[8].id }}">
											<span class="glyphicon glyphicon-play-circle" aria-hidden="true"></span>
										</a>
									</div>
								</div>
								<div class="col-md-6 agile_tv_series_grid_right">
									<p class="fexi_header">{{ listMovie[8].name }}</p>
									<p class="fexi_header_para">
										<span class="conjuring_w3">Description
											<label>:</label>
										</span>&nbsp;
										{{ listMovie[8].description }}
									</p>
									<p class="fexi_header_para">
										<span>Date de sortie
											<label>:</label>
										</span>&nbsp;
										{{ listMovie[8].dateRelease| localizeddate('medium', 'none', 'en') }}
									</p>
									<p class="fexi_header_para">
										<span>Genres
											<label>:</label> 
										</span>&nbsp;
										<a href="{{ path('doshibu_aw_genre', {'slug': 'drame'}) }}">Drame</a> | 
										<a href="{{ path('doshibu_aw_genre', {'slug': 'aventure'}) }}">Aventure</a> | 
										<a href="{{ path('doshibu_aw_genre', {'slug': 'action'}) }}">Action</a>								
									</p>
									<p class="fexi_header_para fexi_header_para1">
										<span>Note
											<label>:</label>
										</span>
										<a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
										<a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
										<a href="#"><i class="fa fa-star-half-o" aria-hidden="true"></i></a>
										<a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a>
										<a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a>
									</p>
								</div>
								<div class="clearfix"> </div>
								<div class="agileinfo_flexislider_grids">
									{% for movie in listMovie[0:5] %}									
										<div class="col-md-2 w3l-movie-gride-agile">
											<a href="{{ path('doshibu_aw_single', {'id' : movie.id}) }}" class="hvr-shutter-out-horizontal">
												<img src="{{ movie.imageSmall.url }}" title="album-name" class="img-responsive" alt="{{ movie.imageSmall.alt }}" style="width:182px; height: 268px;" />
												<div class="w3l-action-icon"><i class="fa fa-play-circle" aria-hidden="true"></i></div>
											</a>
											<div class="mid-1 agileits_w3layouts_mid_1_home">
												<div class="w3l-movie-text">
													<h6><a href="{{ path('doshibu_aw_single', {'id' : movie.id}) }}">{{ movie.name }}</a></h6>							
												</div>
												<div class="mid-2 agile_mid_2_home">
													<p>{{ movie.dateRelease|date('Y') }}</p>
													<div class="block-stars">
														<ul class="w3l-ratings">
															<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
															<li><a href="#"><i class="fa fa-star-half-o" aria-hidden="true"></i></a></li>
															<li><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>
															<li><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>
															<li><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>
														</ul>
													</div>
													<div class="clearfix"></div>
												</div>
											</div>
											<div class="ribben">
												<p>NEW</p>
											</div>
										</div>
									{% endfor %}
									<div class="clearfix"> </div>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</section>
			<!-- flexSlider -->
			<link rel="stylesheet" href="{{ asset('streaming/css/flexslider.css') }}" type="text/css" media="screen" property="" />
			<script defer src="{{ asset('streaming/js/jquery.flexslider.js') }}"></script>
			<script type="text/javascript">
				$(window).load(function()
				{
					$('.flexslider').flexslider(
					{
						animation: "slide",
						start: function(slider)
						{
							$('body').removeClass('loading');
						}
					});
				});
			</script>
			<!-- //flexSlider -->
		</div>
	</div>
	<!-- pop-up-box -->  
	<script src="{{ asset('streaming/js/jquery.magnific-popup.js') }}" type="text/javascript"></script>
	<!--//pop-up-box -->
	<div id="small-dialog{{ listMovie[9].id }}" class="mfp-hide" data-mfp="small-dialog">
		<iframe src="{{ listMovie[9].urlTrailer }}" frameborder="0" allowfullscreen></iframe>
	</div>
	<div id="small-dialog{{ listMovie[5].id }}" class="mfp-hide" data-mfp="small-dialog">
		<iframe src="{{ listMovie[5].urlTrailer }}" frameborder="0" allowfullscreen></iframe>
	</div>
	<div id="small-dialog{{ listMovie[6].id }}" class="mfp-hide" data-mfp="small-dialog">
		<iframe src="{{ listMovie[6].urlTrailer }}" frameborder="0" allowfullscreen></iframe>
	</div>
	<div id="small-dialog{{ listMovie[7].id }}" class="mfp-hide" data-mfp="small-dialog">
		<iframe src="{{ listMovie[7].urlTrailer }}" frameborder="0" allowfullscreen></iframe>
	</div>
	<div id="small-dialog{{ listMovie[8].id }}" class="mfp-hide" data-mfp="small-dialog">
		<iframe src="{{ listMovie[8].urlTrailer }}" frameborder="0" allowfullscreen></iframe>
	</div>

	<script>
		$(document).ready(function() {
			$('.w3_play_icon,.w3_play_icon1,.w3_play_icon2').magnificPopup(
			{
				type: 'inline',
				fixedContentPos: false,
				fixedBgPos: true,
				overflowY: 'auto',
				closeBtnInside: true,
				preloader: false,
				midClick: true,
				removalDelay: 300,
				mainClass: 'my-mfp-zoom-in'
			});
		});
	</script>
	<!-- //Latest-tv-series -->
{% endblock %}