{% extends "DoshibuAfkWatchBundle::layout.html.twig" %}

{% set activeMenu = 'Liste' %}

	{% block head_stylesheets %}
		{{ parent() }}
		<!-- news-css -->
		<link rel="stylesheet" href="{{ asset('streaming/news-css/news.css') }}" type="text/css" media="all" />
		<!-- //news-css -->

		<!-- list-css -->
		<link rel="stylesheet" href="{{ asset('streaming/list-css/list.css') }}" type="text/css" media="all" />
		<!-- //list-css -->

		<!-- start-smoth-scrolling & tables -->
		<link rel="stylesheet" href="{{ asset('streaming/list-css/table-style.css') }}" type="text/css"  />
		<link rel="stylesheet" href="{{ asset('streaming/list-css/basictable.css') }}" type="text/css" />
		<!-- //start-smoth-scrolling & tables -->
	{% endblock %}

	{% block head_scripts %}
		<!-- start-smoth-scrolling & tables -->
		<script type="text/javascript" src="{{ asset('streaming/list-js/jquery.basictable.min.js') }}"></script>

	{% endblock %}

	{% block body %}
		<!-- faq-banner -->
		<div class="faq">
			<h4 class="latest-text w3_faq_latest_text w3_latest_text">
				Liste de film&nbsp;:&nbsp;
				{% if prefix == 'int' %}
					<a href="{{ path('doshibu_aw_list', {'prefix' : 'int'}) }}" >0&nbsp;-&nbsp;9</a>
				{% else %}
					<a href="{{ path('doshibu_aw_list', {'prefix' : prefix}) }}">{{ prefix|upper }}</a>
				{% endif %}
			</h4>
			<div class="container">
				<div class="agileits-news-top">
					<ol class="breadcrumb">
						<li><a href="{{ path('doshibu_aw_home') }}">Accueil</a></li>
						<li><a href="{{ path('doshibu_aw_list', {'prefix' : 'int'}) }}" >A-Z Liste</a></li>
						<li class="active">
							{% if prefix == 'int' %}
								0&nbsp;-&nbsp;9
							{% else %}
								{{ prefix|upper }}
							{% endif %}
						</li>
					</ol>
				</div>
				<div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
					<ul id="myTab" class="nav nav-tabs" role="tablist">
						<li role="presentation" {% if prefix == 'int' %}class="active"{% endif %}>
							<a href="{{ path('doshibu_aw_list', {'prefix' : 'int'}) }}">
								0 - 9
							</a>
						</li>
						{% for letter in 'a'..'z' %}
							<li role="presentation" {% if prefix|lower == letter %}class="active"{% endif %}>
								<a href="{{ path('doshibu_aw_list', {'prefix' : letter}) }}">
									{{ letter|upper }}
								</a>
							</li>
						{% endfor %}
					</ul>
					<div id="myTabContent" class="tab-content">
						<div role="tabpanel" class="tab-pane fade in active" id="home" aria-labelledby="home-tab">
							<div class="agile-news-table">
								<div class="w3ls-news-result">
									<h4>Nombre de résultats : <span>{{ count }}</span></h4>
								</div>
								{% if listMovie is not null and listMovie is not empty %}
									<table id="table-breakpoint">
										<thead>
											<tr>
												<th>N°.</th>
												<th>Nom</th>
												<th>Année</th>
												<th>Status</th>
												<th>Pays d'origine</th>
												<th>Genres</th>
												<th>Note</th>
											</tr>
										</thead>
										<tbody>
											{% for movie in listMovie %}
												<tr>
													<td>{{ loop.index + (page - 1) * 10}}</td>
													<td class="w3-list-img">
														<a href="{{ path('doshibu_aw_movie', {'slug' : movie.slug}) }}">
															<img src="{{ movie.imageSmall.url }}" alt="{{ movie.imageSmall.alt }}" />
															<span>{{ movie.name }}</span>
														</a>
													</td>
													<td>{{ movie.dateRelease|date('Y') }}</td>
													<td>HD</td>
													<td class="w3-list-info">
														{% for pays in movie.countries %}
															<a href="{{ path('doshibu_aw_pays', {'slug' : pays.slug}) }}">
																{{"country.#{pays.name}"|trans }}{% if not loop.last %},&nbsp;{% endif %}
															</a>
														{% endfor %}
													</td>
													<td class="w3-list-info">
														{% for genre in movie.genders %}
															<a href="{{ path('doshibu_aw_genre', {'slug' : genre.slug}) }}">
																{{ genre.name }}{% if not loop.last %},&nbsp;{% endif %}
															</a>
														{% endfor %}
													</td>
													<td>{{ movie.rating / 10 }}&nbsp;/&nbsp;5</td>
												</tr>
											{% endfor %}
										</tbody>
									</table>

									<div class="blog-pagenat-wthree">
										<ul>
											{# On utilise la fonction range(a, b) qui crée un tableau de valeurs entre a et b #}
											{% if page >= 2 %}
												<li><a class="frist" href="{{ path('doshibu_aw_list', {'prefix' : prefix, 'page' : page-1}) }}">Précédent</a></li>
											{% endif %}

											{% for p in range(1, nbPages) %}
												<li{% if p == page %} class="active"{% endif %}>
													<a href="{{ path('doshibu_aw_list', {'prefix' : prefix, 'page' : p}) }}">{{ p }}</a>
												</li>
											{% endfor %}

											{% if page <= nbPages-1 %}
												<li><a class="last" href="{{ path('doshibu_aw_list', {'prefix' : prefix, 'page' : page+1}) }}">Suivant</a></li>
											{% endif %}
										</ul>
									</div>
								{% else %}
									<p class="alert alert-info">
										{% if prefix == 'int' %}
											Malheureusement aucun nom de film ne commence par un chiffre.
										{% else %}
											Malheureusement aucun nom de film ne commence par la lettre <strong>{{ prefix }}</strong>.
										{% endif %}
									</p>
								{% endif %}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- //faq-banner -->
	{% endblock %}