<!-- nav -->
<div class="movies_nav">
	<div class="container">
		<nav class="navbar navbar-default">
			<div class="navbar-header navbar-left">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
				<nav>
					<ul class="nav navbar-nav">
						<li class="active"><a href="{{ path('doshibu_aw_home') }}">Accueil</a></li>
						<li class="dropdown">
							<a href="{{ path('doshibu_aw_genre') }}" class="dropdown-toggle" data-toggle="dropdown">Genres <b class="caret"></b></a>
							<ul class="dropdown-menu multi-column columns-3">
								<li>
									<div class="col-sm-4">
										<ul class="multi-column-dropdown">
											<li><a href="g{{ path('doshibu_aw_genre') }}">Action</a></li>
											<li><a href="g{{ path('doshibu_aw_genre') }}">Biography</a></li>
											<li><a href="g{{ path('doshibu_aw_genre') }}">Crime</a></li>
											<li><a href="g{{ path('doshibu_aw_genre') }}">Family</a></li>
											<li><a href="horror.html">Horror</a></li>
											<li><a href="g{{ path('doshibu_aw_genre') }}">Romance</a></li>
											<li><a href="g{{ path('doshibu_aw_genre') }}">Sports</a></li>
											<li><a href="g{{ path('doshibu_aw_genre') }}">War</a></li>
										</ul>
									</div>
									<div class="col-sm-4">
										<ul class="multi-column-dropdown">
											<li><a href="g{{ path('doshibu_aw_genre') }}">Adventure</a></li>
											<li><a href="comedy.html">Comedy</a></li>
											<li><a href="g{{ path('doshibu_aw_genre') }}">Documentary</a></li>
											<li><a href="g{{ path('doshibu_aw_genre') }}">Fantasy</a></li>
											<li><a href="g{{ path('doshibu_aw_genre') }}">Thriller</a></li>
										</ul>
									</div>
									<div class="col-sm-4">
										<ul class="multi-column-dropdown">
											<li><a href="{{ path('doshibu_aw_genre') }}">Animation</a></li>
											<li><a href="{{ path('doshibu_aw_genre') }}">Costume</a></li>
											<li><a href="{{ path('doshibu_aw_genre') }}">Drama</a></li>
											<li><a href="{{ path('doshibu_aw_genre') }}">History</a></li>
											<li><a href="{{ path('doshibu_aw_genre') }}">Musical</a></li>
											<li><a href="{{ path('doshibu_aw_genre') }}">Psychological</a></li>
										</ul>
									</div>
									<div class="clearfix"></div>
								</li>
							</ul>
						</li>
						<li><a href="{{ path('doshibu_aw_series') }}">tv - series</a></li>
						<li><a href="{{ path('doshibu_aw_news') }}">news</a></li>
						<li class="dropdown">
							<a href="{{ path('doshibu_aw_pays') }}" class="dropdown-toggle" data-toggle="dropdown">Pays <b class="caret"></b></a>
							<ul class="dropdown-menu multi-column columns-3">
								<li>
									<div class="col-sm-4">
										<ul class="multi-column-dropdown">
											<li><a href="{{ path('doshibu_aw_pays') }}">Asia</a></li>
											<li><a href="{{ path('doshibu_aw_pays') }}">France</a></li>
											<li><a href="{{ path('doshibu_aw_pays') }}">Taiwan</a></li>
											<li><a href="{{ path('doshibu_aw_pays') }}">United States</a></li>
										</ul>
									</div>
									<div class="col-sm-4">
										<ul class="multi-column-dropdown">
											<li><a href="{{ path('doshibu_aw_pays') }}">China</a></li>
											<li><a href="{{ path('doshibu_aw_pays') }}">HongCong</a></li>
											<li><a href="{{ path('doshibu_aw_pays') }}">Japan</a></li>
											<li><a href="{{ path('doshibu_aw_pays') }}">Thailand</a></li>
										</ul>
									</div>
									<div class="col-sm-4">
										<ul class="multi-column-dropdown">
											<li><a href="{{ path('doshibu_aw_pays') }}">Euro</a></li>
											<li><a href="{{ path('doshibu_aw_pays') }}">India</a></li>
											<li><a href="{{ path('doshibu_aw_pays') }}">Korea</a></li>
											<li><a href="{{ path('doshibu_aw_pays') }}">United Kingdom</a></li>
										</ul>
									</div>
									<div class="clearfix"></div>
								</li>
							</ul>
						</li>
						<li><a href="{{ path('doshibu_aw_list') }}">A - z list</a></li>
					</ul>
				</nav>
			</div>
		</nav>	
	</div>
</div>