<!-- nav -->

<div class="movies_nav">
	<div class="container">
		<nav class="navbar navbar-default">
			<div class="navbar-header navbar-left">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
				<nav>
					<ul class="nav navbar-nav">
						<li {% if activeMenu=='Accueil' %}class="active"{% endif %}>
							<a href="{{ path('doshibu_aw_home') }}">Accueil</a>
						</li>
						<li class="dropdown{% if activeMenu=='Genre' %} active{% endif %}">
							<a href="{{ path('doshibu_aw_genre') }}" class="dropdown-toggle" data-toggle="dropdown">Genres <b class="caret"></b></a>
							<ul class="dropdown-menu multi-column columns-3">
								<li>
									<div class="col-sm-4">
										<ul class="multi-column-dropdown">
											{% for genre in listGenre[0] %}
												<li><a href="{{ path('doshibu_aw_genre', {'slug': genre.slug}) }}">{{ genre.name }}</a></li>
											{% endfor %}
										</ul>
									</div>
									<div class="col-sm-4">
										<ul class="multi-column-dropdown">
											{% for genre in listGenre[1] %}
												<li><a href="{{ path('doshibu_aw_genre', {'slug': genre.slug}) }}">{{ genre.name }}</a></li>
											{% endfor %}
										</ul>
									</div>
									<div class="col-sm-4">
										<ul class="multi-column-dropdown">
											{% for genre in listGenre[2] %}
												<li><a href="{{ path('doshibu_aw_genre', {'slug': genre.slug}) }}">{{ genre.name }}</a></li>
											{% endfor %}
										</ul>
									</div>
									<div class="clearfix"></div>
								</li>
							</ul>
						</li>
						<li {% if activeMenu=='Series' %}class="active"{% endif %}>
							<a href="{{ path('doshibu_aw_series') }}">TV - Séries</a>
						</li>
						<li {% if activeMenu=='News' %}class="active"{% endif %}>
							<a href="{{ path('doshibu_aw_news') }}">News</a>
						</li>
						<li class="dropdown{% if activeMenu=='Pays' %} active{% endif %}">
							<a href="{{ path('doshibu_aw_pays') }}" class="dropdown-toggle" data-toggle="dropdown">Pays <b class="caret"></b></a>
							<ul class="dropdown-menu multi-column columns-3">
								<li>
									<div class="col-sm-4">
										<ul class="multi-column-dropdown">
											{% for pays in listPays[0] %}
												<li><a href="{{ path('doshibu_aw_pays', {'slug': pays.slug}) }}">{{ pays.name }}</a></li>
											{% endfor %}
										</ul>
									</div>
									<div class="col-sm-4">
										<ul class="multi-column-dropdown">
											{% for pays in listPays[1] %}
												<li><a href="{{ path('doshibu_aw_pays', {'slug': pays.slug}) }}">{{ pays.name }}</a></li>
											{% endfor %}
										</ul>
									</div>
									<div class="col-sm-4">
										<ul class="multi-column-dropdown">
											{% for pays in listPays[2] %}
												<li><a href="{{ path('doshibu_aw_pays', {'slug': pays.slug}) }}">{{ pays.name }}</a></li>
											{% endfor %}
										</ul>
									</div>
									<div class="clearfix"></div>
								</li>
							</ul>
						</li>
						<li {% if activeMenu=='Liste' %}class="active"{% endif %}>
							<a href="{{ path('doshibu_aw_list') }}">A - z liste</a>
						</li>
					</ul>
				</nav>
			</div>
		</nav>	
	</div>
</div>