{% extends "DoshibuAfkWatchBundle::layout.html.twig" %}

{% set newsMedia = attribute(news, media) %}

{% block head_stylesheets %}
	{{ parent() }}
	<!-- news-css -->
	<link rel="stylesheet" href="{{ asset('streaming/news-css/news.css') }}" type="text/css" media="all" />
	<!-- //news-css -->
	
	<!-- list-css -->
	<link rel="stylesheet" href="{{ asset('streaming/list-css/list.css') }}" type="text/css" media="all" />
	<!-- //list-css -->
{% endblock %}

{% block body %}
	<!-- faq-banner -->
	<div class="faq">
		<div class="container">
			<div class="agileits-news-top">
				<ol class="breadcrumb">
					<li><a href="{{ path('doshibu_aw_home') }}">Accueil</a></li>
					<li><a href="{{ path('doshibu_aw_news', {'media' : media}) }}">News</a></li>
					<li class="active">{{ news.title }}</li>
				</ol>
			</div>
			<div class="agileinfo-news-top-grids">
				<div class="col-md-8 wthree-top-news-left">
					<div class="wthree-news-left">
						<div class="wthree-news-left-img">
							<img src="{{ newsMedia.imageLarge.url }}" alt="{{ newsMedia.imageLarge.alt }}" />
							<h4>{{ news.title }}</h4>
							<div class="s-author">
								<p>
									Rédigé par&nbsp;
									<a href="#">
										<i class="fa fa-user" aria-hidden="true"></i>&nbsp;Auteur
									</a>&nbsp;&nbsp;&nbsp;&nbsp;
									<i class="fa fa-calendar" aria-hidden="true"></i>
									&nbsp;{{ news.addedAt|localizeddate('medium', 'none', 'fr') }}&nbsp;&nbsp;&nbsp; 
									<a href="#"><i class="fa fa-comments" aria-hidden="true"></i> 
										Commentaires (10)
									</a>
								</p>
							</div>
							<div class="news-shar-buttons">
								<ul>
									<li>
										<div class="fb-like" data-href="https://www.facebook.com/AfkWatch/" data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="false"></div>
									</li>
									<li>
										<div class="fb-share-button" data-href="https://www.facebook.com/AfkWatch/" data-layout="button_count" data-size="small" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.facebook.com%2FAfkWatch%2F&amp;src=sdkpreparse">Partager</a></div>
									</li>
									<li class="news-twitter">
										<a href="https://twitter.com/AfkWatch" class="twitter-follow-button" data-show-count="false">
											Suivez&nbsp;@AfkWatch
										</a>
										<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
									</li>
									<li>
										<a href="https://twitter.com/intent/tweet?screen_name=AfkWatch" class="twitter-mention-button" data-show-count="false">
											Tweeter&nbsp;à&nbsp;@AfkWatch
										</a>
										<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
									</li>
								</ul>
							</div>
							<div class="w3-agile-news-text">
								<p>{{ news.description }}</p>
							</div>
						</div>
					</div>
					<!-- agile-comments -->
					<div class="agile-news-comments">
						<div class="agile-news-comments-info">
							<h4>Commentaires</h4>
							<div class="fb-comments" data-href="https://developers.facebook.com/docs/plugins/comments#configurator" data-width="100%" data-numposts="5"></div>
						</div>
					</div>
					<!-- //agile-comments -->
					<div class="news-related">

					</div>
				</div>
				<div class="col-md-4 wthree-news-right">
					<!-- news-right-top -->
					<div class="news-right-top">
						<div class="wthree-news-right-heading">
							<h3>Articles Populaire</h3>
						</div>
						<div class="wthree-news-right-top">
							<div class="news-grids-bottom">
								<!-- date -->
								<div id="design" class="date">
									<div id="cycler">
										{% for news in listPopular %}
											<div class="date-text">
												<a href="news-single.html">{{ news.addedAt|localizeddate('medium', 'none', 'fr') }}</a>
												{% if date(news.addedAt) >= date('-30days') %}
													<span class="blinking"><img src="{{ asset('streaming/images/new.png') }}" alt="newLogo" /></span></a>
												{% endif %}
												<p>{{ news.title }}</p>
											</div>
										{% endfor %}   
									</div>
									<script>
										function blinker() {
											$('.blinking').fadeOut(500);
											$('.blinking').fadeIn(500);
										}
										setInterval(blinker, 1000);
									</script>
									<script>
										function cycle($item, $cycler){
											setTimeout(cycle, 2000, $item.next(), $cycler);

											$item.slideUp(1000,function(){
												$item.appendTo($cycler).show();        
											});
										}
										cycle($('#cycler div:first'),  $('#cycler'));
									</script>
								</div>
								<!-- //date -->
							</div>
						</div>
					</div>
					<!-- //news-right-top -->
					<!-- news-right-bottom -->
					<div class="news-right-bottom">
						<div class="wthree-news-right-heading">
							<h3>Articles Récent</h3>
						</div>
						<div class="news-right-bottom-bg">
							<div class="news-grids-bottom">
								{% for news in listRecent %}
									<div class="top-news-grid">
										<div class="top-news-grid-heading">
											<a href="news-single.html">{{ news.title }}</a>
										</div>
										<div class="w3ls-news-t-grid top-t-grid">
											<ul>
												<li><a href="#"><i class="fa fa-clock-o"></i>&nbsp;{{ news.addedAt|time_diff }}</a></li>
												<li><a href="#"><i class="fa fa-user"></i>&nbsp;Auteur</a></li>
											</ul>
										</div>
									</div>
								{% endfor %}
							</div>
						</div>
					</div>
					<!-- //news-right-bottom -->
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!-- //faq-banner -->
{% endblock %}