{% extends "DoshibuAfkWatchBundle::layout.html.twig" %}

{% set activeMenu = 'News' %}

{% block head_stylesheets %}
	{{ parent() }}
	<!-- news-css -->
	<link rel="stylesheet" href="{{ asset('streaming/news-css/news.css') }}" type="text/css" media="all" />
	<!-- //news-css -->
	
	<!-- list-css -->
	<link rel="stylesheet" href="{{ asset('streaming/list-css/list.css') }}" type="text/css" media="all" />
	<!-- //list-css -->
{% endblock %}

{% block body %}
	<!-- faq-banner -->
	<div class="faq">
		<h4 class="latest-text">Dernières News&nbsp;
			{% if media == 'movie' %}
				<a href="{{ path('doshibu_aw_news', {'media': 'movie'}) }}">Cinéma</a>
			{% elseif media == 'serie' %}
				<a href="{{ path('doshibu_aw_news', {'media': 'serie'}) }}">Séries</a>
			{% endif %}
		</h4>
		<div class="container">
			<div class="agileits-news-top">
				<ol class="breadcrumb">
					<li><a href="{{ path('doshibu_aw_home') }}">Accueil</a></li>
					<li class="active">News - {{ media }}</li>
				</ol>
			</div>
			<div class="agileinfo-news-top-grids">
				<div class="col-md-8 wthree-top-news-left">
					<div class="wthree-news-left">
						<div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
							{#<ul id="myTab" class="nav nav-tabs" role="tablist">
								<li role="presentation" class="active"><a href="#home1" id="home1-tab" role="tab" data-toggle="tab" aria-controls="home1" aria-expanded="true">Latest News</a></li>
								<li role="presentation"><a href="#w3bsd" role="tab" id="w3bsd-tab" data-toggle="tab" aria-controls="w3bsd">Movie News</a></li>
							</ul>#}
							<div id="myTabContent" class="tab-content">
								<div role="tabpanel" class="tab-pane fade in active" id="home1" aria-labelledby="home1-tab">
									{% for i in range(0, 15, 2) %}
										<div class="wthree-news-top-left">
											{% for n in listNews[i:1] %}
												<div class="col-md-6 w3-agileits-news-left">
													<div class="col-sm-5 wthree-news-img">
														<a href="{{ path('doshibu_aw_news_single', {'media' : media, 'slug' : n.slug}) }}">
															<img src="{{ attribute(n, media).imageSmall.url }}" alt="{{ attribute(n, media).imageSmall.alt }}" /></a>
													</div>
													<div class="col-sm-7 wthree-news-info">
														<h5><a href="{{ path('doshibu_aw_news_single', {'media' : media, 'slug' : n.slug}) }}">{{ n.title }}</a></h5>
														<p>{{ n.tinyDescription }}</p>
														<ul>
															<li><i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp;{{ n.addedAt|localizeddate('medium', 'none', 'fr') }}</li>
															<li><i class="fa fa-eye" aria-hidden="true"></i>&nbsp;{{ n.nbViews }}</li>
														</ul>
													</div>
													<div class="clearfix"> </div>
												</div>
											{% endfor %}
											{% for n in listNews[i+1:1] %}
												<div class="col-md-6 w3-agileits-news-left">
													<div class="col-sm-5 wthree-news-img">
														<a href="{{ path('doshibu_aw_news_single', {'media' : media, 'slug' : n.slug}) }}">
															<img src="{{ attribute(n, media).imageSmall.url }}" alt="{{ attribute(n, media).imageSmall.alt }}" /></a>
													</div>
													<div class="col-sm-7 wthree-news-info">
														<h5><a href="{{ path('doshibu_aw_news_single', {'media' : media, 'slug' : n.slug}) }}">{{ n.title }}</a></h5>
														<p>{{ n.tinyDescription }}</p>
														<ul>
															<li><i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp;{{ n.addedAt|localizeddate('medium', 'none', 'fr') }}</li>
															<li><i class="fa fa-eye" aria-hidden="true"></i>&nbsp;{{ n.nbViews }}</li>
														</ul>
													</div>
													<div class="clearfix"> </div>
												</div>
											{% endfor %}

											<div class="clearfix"> </div>
										</div>
									{% endfor %}
								</div>
								<div class="blog-pagenat-wthree">
									<ul>
										{# On utilise la fonction range(a, b) qui crée un tableau de valeurs entre a et b #}
										{% if page >= 2 %}
											<li><a class="frist" href="{{ path('doshibu_aw_news', {'media' : media, 'page' : page-1}) }}">Précédent</a></li>
										{% endif %}

										{% for p in range(1, nbPages) %}
											<li{% if p == page %} class="active"{% endif %}>
												<a href="{{ path('doshibu_aw_news', {'media' : media, 'page' : p}) }}">{{ p }}</a>
											</li>
										{% endfor %}

										{% if page <= nbPages-1 %}
											<li><a class="last" href="{{ path('doshibu_aw_news', {'media' : media, 'page' : page+1}) }}">Suivant</a></li>
										{% endif %}
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4 wthree-news-right">
					<!-- news-right-top -->
					<div class="news-right-top">
						<div class="wthree-news-right-heading">
							<h3>Articles Populaire</h3>
						</div>
						<div class="wthree-news-right-top">
							<div class="news-grids-bottom">
								<!-- date -->
								<div id="design" class="date">
									<div id="cycler">
										{% for news in listMostViewed %}
											<div class="date-text">
												<a href="{{ path('doshibu_aw_news_single', {'media' : media, 'slug' : news.slug}) }}">{{ news.addedAt|localizeddate('medium', 'none', 'fr') }}</a>
												{% if date(news.addedAt) >= date('-30days') %}
													<span class="blinking"><img src="{{ asset('streaming/images/new.png') }}" alt="newLogo" /></span></a>
												{% endif %}
												<p>{{ news.title }}</p>
											</div>
										{% endfor %}   
									</div>
									<script>
										function blinker() {
											$('.blinking').fadeOut(500);
											$('.blinking').fadeIn(500);
										}
										setInterval(blinker, 1000);
									</script>
									<script>
										function cycle($item, $cycler){
											setTimeout(cycle, 2000, $item.next(), $cycler);

											$item.slideUp(1000,function(){
												$item.appendTo($cycler).show();        
											});
										}
										cycle($('#cycler div:first'),  $('#cycler'));
									</script>
								</div>
								<!-- //date -->
							</div>
						</div>
					</div>
					<!-- //news-right-top -->
					<!-- news-right-bottom -->
					<div class="news-right-bottom">
						<div class="wthree-news-right-heading">
							<h3>Articles Récent</h3>
						</div>
						<div class="news-right-bottom-bg">
							<div class="news-grids-bottom">
								{% for news in listMostRecent %}
									<div class="top-news-grid">
										<div class="top-news-grid-heading">
											<a href="{{ path('doshibu_aw_news_single', {'media' : media, 'slug' : news.slug}) }}">{{ news.title }}</a>
										</div>
										<div class="w3ls-news-t-grid top-t-grid">
											<ul>
												<li><a href="#"><i class="fa fa-clock-o"></i>&nbsp;{{ news.addedAt|time_diff }}</a></li>
												<li><a href="#"><i class="fa fa-user"></i>&nbsp;Auteur</a></li>
											</ul>
										</div>
									</div>
								{% endfor %}
							</div>
						</div>
					</div>
					<!-- //news-right-bottom -->
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!-- //faq-banner -->
{% endblock %}